<% bug(@user)%>

<table class="table table-striped">
	
	<tr>
	    <th><%= f.label(:first_name) %></th>
	    <td><%= f.text_field(:first_name, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:last_name) %></th>
	    <td><%= f.text_field(:last_name, :class => 'form-control') %></td>
    </tr>
     <tr>
	    <th><%= f.label(:user) %></th>
	    <td><%= f.text_field(:user, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:email) %></th>
	    <td><%= f.text_field(:email, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:password) %></th>
	    <td><%= f.password_field(:password, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:password_confirmation) %></th>
	    <td><%= f.password_field(:password_confirmation, :class => 'form-control') %></td>
    </tr>
</table>