<% bug(@photos)%>

<table class="table table-striped">
	<tr>
	    <th><%= f.label(:gallery_id, "Gallery") %></th>
	    <td><%= f.select(:gallery_id, @gallery.map{|g| [g.name, g.id]}, :class => 'form-control') %>
	    </td>
    </tr>
	<tr>
	    <th><%= f.label(:name) %></th>
	    <td><%= f.text_field(:name, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:position) %></th>
	    <td><%= f.select(:position, 1..@counter, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:visibility, "It is visible?") %></th>
	    <td><%= f.check_box(:visibility) %></td>
    </tr>
    <% if !@photos.photo.blank? %>
    <tr>
	    <th>Photo:</th>
	    <td><%= image_tag(@photos.photo) %></td>
    </tr>
    <% end %>
    <tr>
	    <th><%= f.label(:photo) %></th>
	    <td><%= f.file_field(:photo) %></td>
    </tr>
    <tr>
	    <th><%= f.label(:created_at) %></th>
	    <td><%= f.datetime_select(:created_at, :class => 'form-control') %></td>
    </tr>
    <tr>
	    <th><%= f.label(:description) %></th>
	    <td><%= f.text_area(:description, :class => 'form-control') %></td>
    </tr>
</table>