<h1>Categories</h1>
<%= link_to("Add new category", {:action => 'new'})%>
<p>Number of categories: <%= @categories.size %></p>
<table>
    <tr>
    	<th>Position</th>
    	<th>Name</th>
    	<th>Visibility</th>
    	<th>Page</th>
    	<th>Actions</th>
    </tr>
<% @categories.each do |category|%>
    <tr>
    	<th><%= category.position %></th>
    	<th><%= category.name %></th>
    	<th><%= category.visibility ? 'Yes' : 'No' %></th>
    	<th><%= category.pages.size %></th>
    	<th>
    		<%= link_to "Show", {:action => 'show', :id => category.id} %>
    		<%= link_to "Edit", {:action => 'edit', :id => category.id} %>
    		<%= link_to "Delete", {:action => 'delete', :id => category.id} %>
    	</th>
    </tr>
<% end %>
</table>