<div class="hero-unit">
<h1>Show category</h1>


<table class="table table-striped">
	<tr>
	    <th>Name</th>
	    <td><%= @categories.name %></td>
    </tr>
    <tr>
	    <th>Position</th>
	    <td><%= @categories.position %></td>
    </tr>
    <tr>
	    <th>It is visible?</th>
	    <td><%= @categories.visibility ? 'Yes' : 'No' %></td>
    </tr>
     <tr>
	    <th>Created:</th>
	    <td><%= @categories.created_at %></td>
    </tr>
     <tr>
	    <th>Update:</th>
	    <td><%= @categories.updated_at %></td>
    </tr>
</table>
<div style="text-align: center;">
	<%= link_to "Back", {:action => 'index'}, :class => 'btn btn-primary' %>
</div>

</div>




